<form (submit)="onaddposts (addPosts)" #addPosts="ngForm">

    <input type="text"
    
    ngModel name="enteredID"
    
    placeholder= "Post ID"
    
    required
    
    minlength="1"
    
    pattern="^[a-zA-Z0-9\s_-]+$"
    
    #enteredID="ngModel"/>
    
    <input type="text"
    
    ngModel name="enteredName"
    
    placeholder="Post Name"
    
    required
    
    minlength="1"
    
    pattern="^[a-zA-Z0-9\s_-]+$"
    
    #enteredName="ngModel"/>

    <button type ="submit">Add Button</button>
</form>